<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.korea.sdk.crm.backstage.mapper.PayMycardRecordMapper">
  <resultMap id="BaseResultMap" type="com.qw.korea.sdk.crm.backstage.entity.PayMycardRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fac_trade_seq" jdbcType="VARCHAR" property="facTradeSeq" />
    <result column="auth_code" jdbcType="VARCHAR" property="authCode" />
    <result column="return_url" jdbcType="VARCHAR" property="returnUrl" />
    <result column="cancel_url" jdbcType="VARCHAR" property="cancelUrl" />
    <result column="pay_result" jdbcType="INTEGER" property="payResult" />
    <result column="payout_status" jdbcType="INTEGER" property="payoutStatus" />
    <result column="payment_type" jdbcType="VARCHAR" property="paymentType" />
    <result column="trade_seq" jdbcType="VARCHAR" property="tradeSeq" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="trade_date_time" jdbcType="VARCHAR" property="tradeDateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>