<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.korea.sdk.crm.backstage.mapper.ProductPayTypeMapper">
  <resultMap id="BaseResultMap" type="com.qw.korea.sdk.crm.backstage.entity.ProductPayType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_info_id" jdbcType="INTEGER" property="productInfoId" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="show_fee" jdbcType="DECIMAL" property="showFee" />
    <result column="show_currency" jdbcType="VARCHAR" property="showCurrency" />
    <result column="pay_fee" jdbcType="DECIMAL" property="payFee" />
    <result column="pay_currency" jdbcType="VARCHAR" property="payCurrency" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>